/* All pages */
body {
        font-family: 'Book Antiqua', sans-serif;
        background-color: #F0F8FF;
        padding-top: 3%;
}

h1 {
        text-align: center;
}
/* navigation bar */
nav {
        background-color: #F0F8FF;
        width: 100%;
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
}

nav ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        text-align: center;
}

nav ul li {
        width: 33%;
        float: left;
}

nav ul li a {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding:14px 16px;
}

nav ul li a:hover {
        color: #00CED1;
}

/* index.html */
.image {
        display: block;
        height: 30%;
        width:30%;
        margin-left: auto;
        margin-right: auto;
}

/* resume.html */
.section-title {
        font-weight: bold;

}
.subsection {
        font-weight: bold;
        color: #006400;
}
.job-location {
        font-weight: bold;
}

/* bio.html */
.bio {
        text-align: left;
        margin-left: 25%;
        margin-right:25%;
}
